@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    border-style: none;
}

body {
    background-color: #131313;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

/*  -------------------- ✨ Animations hero section -------------------- */

.is--animated {
    transform: translateY(80px);
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.is--active {
    transform: translateY(0px);
    opacity: 1;
}

.is--active:nth-child(2) {
    transition-duration: 350ms;
    transition-delay: 100ms;
}

.is--active:nth-child(3) {
    transition-duration: 450ms;
    transition-delay: 200ms;
}

.is--active:nth-child(3) {
    transition-duration: 550ms;
    transition-delay: 300ms;
}

.is--active:nth-child(4) {
    transition-duration: 650ms;
    transition-delay: 400;
}

/* -------------------- ✨ Animations hero section -------------------- */

/* -------------------- Page Elements -------------------- */


.page-wrapper {
    overflow: hidden;
}

.section {
    min-height: 60vh;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 115px;
    padding-bottom: 115px;
}

.section.is--hero {
    margin-left: 5em;
    margin-right: 5em;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    color: white;
    height: 60vh;
    border-radius: 0em 0em 1em 1em;
}

.main-container {
    width: 90vw;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- End Page Elements -------------------- */

/* Hero component */

.hero_section-comp {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
}

.hero_section-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

.hero_section-image {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 1em;
    min-width: 50%;
}

.divider {
    height: 1px;
}

.main-btn {
    color: white;
    padding: 8px 25px;
    font-size: 16px;
    letter-spacing: -0.03em;
    border-radius: 0.5em;
    font-weight: 600;
    background-color: transparent;
    border-style: inset;
    border-color: white;
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
}

.main-btn:hover {
    color: #131313;
    padding: 8px 25px;
    font-size: 16px;
    letter-spacing: -0.03em;
    border-radius: 0.5em;
    font-weight: 600;
    background-color: white;
    border-style: inset;
    border-color: white;
    transform: translateY(-8px);
}

/* -------------------- Typography -------------------- */

.text-size-normal {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 25px;
}

.heading-style-large {
    font-size: 48px;
    letter-spacing: -0.03em;
    line-height: 1;
    margin-bottom: 25px;
}

.section_2-comp, .section_3-comp {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
}

.section_3-comp {
    flex-direction: row-reverse;
}

.section_2-content-wrapper, .section_3-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}